#Books (Core)

*Christina Brockway*

![png](Data/books.png)

## Imports and Connection Creation

In [1]:
import pandas as pd

import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists,create_database
from urllib.parse import quote_plus as urlquote

In [2]:
import json
with open('/Users/csbro/.secret/mysql.json') as f:
    login = json.load(f)
login.keys()

dict_keys(['username', 'password'])

In [6]:
db_name = 'books'
conn = f"mysql+pymysql://{login['username']}:{urlquote(login['password'])}@localhost/{db_name}"
engine = create_engine(conn)

In [9]:
#Check if db exists
if database_exists(conn):
    print("It exists!")
else:
    create_database(conn)
    print('Database created')

It exists!

In [14]:
#Preview names of tables
q ="""
SHOW TABLES;
"""
pd.read_sql(q,engine)

  Tables_in_books
0         authors
1           books
2       favorites
3           users

## Show Empty Tables

In [15]:
q = """
SELECT * FROM authors;
"""
pd.read_sql(q, engine)

Empty DataFrame
Columns: [author_id, author_name, date_created, date_updated]
Index: []

In [16]:
q = """
SELECT * FROM books;
"""
pd.read_sql(q, engine)

Empty DataFrame
Columns: [book_id, title, date_created, date_updated, author_id]
Index: []

In [17]:
q = """
SELECT * FROM users;
"""
pd.read_sql(q, engine)

Empty DataFrame
Columns: [user_id, first_name, last_name, email, date_created, date_updated]
Index: []

In [18]:
q = """
SELECT * FROM favorites;
"""
pd.read_sql(q, engine)

Empty DataFrame
Columns: [user_id, book_id]
Index: []

## Import data into notebook

In [ ]:
authors = pd.read_csv("")